.search-container{
    position: fixed;
    top: 0;
    z-index: 900;
    color: white;
    width: 100%;
}
.search-grid{
    
    gap: 10px;
}
.search-card{
    height: 100px;
    width: 300px;
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;

}
.search-card img{
    height: 100px;
}