.warning{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
   background-color: rgb(0, 0, 0,0.7);
     position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;

}
.warningOverlay{
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 15px 40px 20px;
    justify-content: space-between;
    gap: 80px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px wheat;

}
.warning h1{
    margin: 0;
}
.warningBtns{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;

}
.warningBtns div{
    background-color: red;
    color: white;
    padding: 18px 24px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.warningBtns div:hover{
    background-color: rgb(189, 2, 2);
}