.backdrop img{
   height: auto;
   width: 100%;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
  
}
.backdrop{
    position: relative;
}
.icons{
    position: absolute;
    left: 8px;
    bottom: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: white;
    padding: 5px 10px;
    border-radius: 10px;
}
.icons div{
    padding: 10px;
    background-color: rgba(72, 70, 70, 0.8);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
}

.detail-container{
width: 50%;
    display: flex;
    flex-direction: column;
    background-color: #eaebed;
    box-shadow: 0 0 12px black;
    border-radius: 10px;
    color: black;
    position: relative;
    overflow: hidden;
}
.detail{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0,0.7);
     position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
}
.close{
    position: absolute;
    top: 1%;
    right: 1%;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    background-color: black;
    padding: 5px 10px;
    border-radius: 50%;
    z-index: 500;

}
#title{
    font-size: 20px;
    font-weight: bolder;
    
}
#genres{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap: 2px;
}
.detail-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.detail-texts{
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}