.search-container{
    z-index: 900;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
       background-color: rgb(0, 0, 0,0.9);
       justify-content: center;
         align-items: center;
         position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.search-input {
  position: relative;
  z-index: 1001;
}
.search-input input{
    height: 40px;
    width: 250px;
    border-radius: 20px;
    border: none;
    padding-left: 15px;
    font-size: 16px;
    margin: 10px;

}
.search-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    width: auto;
    height: auto;

  
}
.search-card{
     width: 280px;
    height: 380px;
    border-radius: 10px;
    box-shadow: 0 0 8px black;
    transition: transform 0.2s ease-in;
    position: relative;
      overflow: hidden;

}
.search-card img{
     height: 100%;
    width: 100%;
    border-radius: 10px;
}