.dropUp{
    display: none;
    flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 10px 20px;
   position: absolute;
   width: 90%;
 animation: dropdown 0.7s ease forwards ;
   background-color: rgb(0, 0, 0,0.6);
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
}
.itemGrid{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 20px;
    
}
.itemCard{
    width: 280px;
    height: 380px;
    border-radius: 10px;
    box-shadow: 0 0 8px black;
    transition: transform 0.2s ease-in;
    position: relative;
      overflow: hidden;
}
.itemCard img{
     height: 100%;
    width: 100%;
    border-radius: 10px;
}
.itemContainer{
    padding: 0 20px;
    color: white;
}